PORT=3217
HOST=127.0.0.1
PUBLIC_BASE_URL=https://app.chattifyne.com/p/3217
GITHUB_OWNER=GratifluxTools
GITHUB_REPO=vendor-bin-win-x64
GITHUB_REF=main
GITHUB_WORKFLOW_FILE=gha-ephemeral-ytdlp-portal.yml
GITHUB_TOKEN=replace_me
CALLBACK_SECRET=replace_me
APP_USER=replace_me
APP_PASS=replace_me
